@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: 220 75% 73.3%;
    --overlay: 0 0% 0%;
    --bg: 221.1 42.2% 91.2%;
    --text: 0 0% 0%;
    --border: 0 0% 0%;
  }

  .dark {
    --main: 26.7 97.9% 63.1%;
    --overlay: 0 0% 0%;
    --bg: 230 13.3% 17.6%;
    --text: 70 15.8% 92.5%;
    --border: 0 0% 0%;
    --secondary-black: 0 0% 12.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-text font-poppins;
  }
}
